<!-- password_reset_done.html -->
{% extends "stars_app/base.html" %}
{% load static %}
{% block body_class %}login-page{% endblock %}

{% block extra_head %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-form">
        <h3>Email Sent</h3>
        <p class="extra-desc">We've emailed you instructions for setting your password. You should receive them shortly.</p>
        <p class="extra-desc">If you don't receive an email, please make sure you've entered the address you registered with.</p>

        <div class="success-icon">
            <i class="fas fa-circle-check" style="font-size: 64px; color: #2ecc71;"></i>
        </div>

        <div class="signin-link">
            <p>Remember your password?</p>
            <a href="{% url 'login' %}">SIGN IN</a>
        </div>
    </div>
</div>
{% endblock %}