bleach==6.2.0
celery==5.4.0
certifi==2024.8.30
django==5.1.13
django-axes==8.0.0
django-cors-headers==4.9.0
django-crontab==0.7.1
django-csp==4.0
django-debug-toolbar==6.0.0
django-filter==24.3
django-permissions-policy==4.28.0
django-ses==4.3.1
djangorestframework==3.15.2
drf-nested-routers==0.94.1
gunicorn==23.0.0
hiredis==3.3.0
pillow==11.0.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
pytz==2024.2
redis==7.0.0
requests==2.32.3
whitenoise==6.9.0
