certifi==2024.8.30
django==5.1.13
django-crontab==0.7.1
django-filter==24.3
django-sendgrid-v5==1.2.4
djangorestframework==3.15.2
drf-nested-routers==0.94.1
pillow==11.0.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
sendgrid==6.11.0
whitenoise==6.9.0
