asgiref==3.8.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
django==5.1.13
django-crontab==0.7.1
django-filter==24.3
django-sendgrid-v5==1.2.4
djangorestframework==3.15.2
drf-nested-routers==0.94.1
ephem==4.1.6
geographiclib==2.0
geopy==2.4.1
h3==4.1.2
idna==3.10
inflection==0.5.1
numpy==2.1.2
pillow==11.0.0
psycopg2-binary==2.9.9
pycparser==2.22
python-dotenv==1.0.1
python-http-client==3.3.7
pytz==2024.2
requests==2.32.3
sendgrid==6.11.0
sqlparse==0.5.1
starkbank-ecdsa==2.2.0
timezonefinder==6.5.7
typing_extensions==4.14.0
urllib3==2.2.3
whitenoise==6.9.0
