{% load static %}
{% load bootstrap5 %}


<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">

    <title>See Shooting Stars</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- Navbar -->
<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand" id="img" href="{% url 'home' %}">
            <img src="{% static '' %}" id="logo" alt="SS Logo" />
        </a>

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-expanded="false" aria-controls="navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{% url 'home' %}"> Home </a></li>

            </ul>
        </div>
    </div>
</nav>

<!-- Body Content -->
<body>
    <div class="container-fluid">
        <div class="custom-body">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>