{% extends "stars_app/base.html" %}
{% block body_class %}details-page{% endblock %}

{% block content %}
    <div class="details-container">
        <div class="details-header">
            <p>{{ event.name }}</p>
        </div>

        <div class="details-item">
            {% if event.event_type == "COMET" %}
                <img src='/images/comet-banner.jpg' class="details-icon" width="100" height="100"></img>
            {% elif event.event_type == "ECLIPSE" %}
                <img src='/static/images/eclipse_icon.jpg' class="details-icon" width="100" height="100"></img>
            {% elif event.event_type == "METEOR" %}
                <img src='/images/meteor-banner.jpg' class="details-icon" width="100" height="100"></img>
            {% elif event.event_type == "PLANET" %}
                <img src='/static/images/planet-icon.jpg' class="details-icon" width="100" height="100"></img>
            {% elif event.event_type == "AURORA" %}
                <img src='/images/aurora-banner.jpg' class="details-icon" width="100" height="100"></img>
            {% endif %}
            <p>{{ event.event_type }}</p>
            <p>Start Time: {{ event.start_time }}</p>
            <p>End Time: {{ event.end_time }}</p>
            <p>Viewing Radius: {{ event.viewing_radius }} kilometers</p>
            <div class="directions-button">
                <a class="button" href='https://www.google.com/maps/dir/?api=1&destination={{ view_loc.latitude }},{{ view_loc.longitude }}'">Get directions!</a>
            </div>
        </div>
        
        <div class="description-container">
            <p class="details-description">{{ event.description }}</p>
        </div>
    </div>
{% endblock %}