{% extends "stars_app/base.html" %}
{% block body_class %}details-page{% endblock %}

{% block content %}
    <div class="details-container">
        <!-- Event Header -->
        <header class="details-header">
            <h2>{{ event.name }}</h2>
            <p class="event-type-banner">{{ event.event_type }}</p>
        </header>

        <!-- Main Content -->
        <div class="details-content">
            <!-- Event Icon -->
            <div class="event-icon-container">
                {% if event.event_type == "COMET" %}
                    <img src='/static/images/comet-banner.jpg' alt="Comet Icon" class="event-icon">
                {% elif event.event_type == "ECLIPSE" %}
                    <img src='/static/images/eclipse_icon.jpg' alt="Eclipse Icon" class="event-icon">
                {% elif event.event_type == "METEOR" %}
                    <img src='/static/images/meteor-banner.jpg' alt="Meteor Icon" class="event-icon">
                {% elif event.event_type == "PLANET" %}
                    <img src='/static/images/planet-icon.jpg' alt="Planet Icon" class="event-icon">
                {% elif event.event_type == "AURORA" %}
                    <img src='/static/images/aurora-banner.jpg' alt="Aurora Icon" class="event-icon">
                {% endif %}
            </div>

            <!-- Event Details -->
            <div class="event-details">
                <p><strong>Start Time:</strong> {{ event.start_time|date:"M d, Y H:i" }}</p>
                <p><strong>End Time:</strong> {{ event.end_time|date:"M d, Y H:i" }}</p>
                <p><strong>Viewing Radius:</strong> {{ event.viewing_radius }} kilometers</p>
            </div>

            <!-- Directions Button -->
            <div class="directions-button">
                <a class="button" href="https://www.google.com/maps/dir/?api=1&destination={{ view_loc.latitude }},{{ view_loc.longitude }}">
                    <i class="fa-solid fa-map"></i>
                    Get Directions
                </a>
            </div>

            <div class="take-me-home">
                <a href="{% url 'map' %}?lat={{ event.latitude }}&lng={{ event.longitude }}&zoom=12"
                   class="action-button view-map-button">
                    <i class="fas fa-map-marker-alt"></i>
                    View on Map
                </a>
            </div>
        </div>

        <!-- Event Description -->
        <section class="event-description">
            <h3>About this Event</h3>
            <p>{{ event.description }}</p>
        </section>
    </div>
{% endblock %}