<!-- inherit from base.html-->
{% extends "stars_app/base.html" %}
{% block body_class %}home-page{% endblock %}

<!-- Populates block content in base_template.html -->
{% block content %}
    <div class="home-container">
        <div class="home-header">
            <p>WELCOME TO THE EVENT HORIZON</p>
        </div>

        <div class="home-main">
            <p>A Stargazing Companion</p>
        </div>

        <div class="map-button" >
            <a class="button" href="{% url 'map' %}">ENTER THE MAP</a>
        </div>

        <div class="home-footer">
            <p>Created by Group8 - Alejandro Diaz, Daniel Bolding, Jason Cuthbert, Oscar Tinoco</p>
        </div>
    </div>
{% endblock %}